{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Map Explorer</title>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

    <!-- Include custom CSS -->
    <link rel="stylesheet" href="{% static 'map_explorer/css/style.css' %}">
</head>
<body>
    <h1>Django Map Explorer</h1>
    <p>The Django Map Explorer is a Python-Django web app for interactive map exploration. It enables users to explore maps, visualize geographical data, and interact with map features. Features include map display, data visualization, search/filtering, user interaction, authentication, admin panel, and responsive design. The project aims to provide a user-friendly platform for map exploration and spatial analysis.</p>
    
    <!-- Add a map container -->
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
        <script>
            (function () {
                var setting = {
                    "query": "7M47+56, Thiruvengadam, Tamil Nadu 627719, India",
                    "width": 800,
                    "height": 600,
                    "satellite": false,
                    "zoom": 12,
                    "placeId": "ChIJo_4HCU-5BjsRAIrbNGlFYAE",
                    "cid": "0x160456934db8a00",
                    "coords": [9.2553745, 77.6631311],
                    "lang": "en",
                    "queryString": "7M47+56, Thiruvengadam, Tamil Nadu 627719, India",
                    "centerCoord": [9.2553745, 77.6631311],
                    "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                    "embed_id": "1067378"
                };
                var d = document;
                var s = d.createElement('script');
                s.src = 'https://1map.com/js/script-for-user.js?embed_id=1067378';
                s.async = true;
                s.onload = function (e) {
                    window.OneMap.initMap(setting)
                };
                var to = d.getElementsByTagName('script')[0];
                to.parentNode.insertBefore(s, to);
            })();
        </script>
        <a href="https://1map.com/map-embed">1 Map</a>
    </div>

    <!-- Include Leaflet map script -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-rodWxH99Rwdqf0zWwrivEzo0VngBxy00y+1vjDfGQre3O3it8qKuu0E6LbS6PQOyMDEyv5Ck5oZVvsIOZyos3Q==" crossorigin=""></script>
</body>
</html>

